To install all requirements from this file, run:
pip install -r requirements.txt

Web framework for building the server and API
pip install Flask

FlaskDatabase ORM (Object Relational Mapper) for Flask
pip install Flask-SQLAlchemy
Flask-SQLAlchemy

Handles Cross-Origin Resource Sharing for the API
pip install Flask-CORS
Flask-CORS

Reads key-value pairs from a env file for environment variables
pip install python-dotenv
python-dotenv

Official Python client library for the OpenAI API
pip install openaiopenai

For hashing and checking passwords
This is automatically installed as a dependency of Flask
Werkzeug

